body {
    font-family: 'Noto Sans', sans-serif;
}

.header-title {
    font-weight: bold;
}

.header-account {
    text-align: right;
}

.article-title {
    margin-top: 0px;
}

.article-author {
    font-weight: bold;
}

.article-container {
    padding: 20px;
    background-color: SeaShell;
}

.row-bottom-spaced {
    margin-bottom: 10px;
}